<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>covid_demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inregistration</display-name>
    <servlet-name>Inregistration</servlet-name>
    <servlet-class>com.db.univ.Inregistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inregistration</servlet-name>
    <url-pattern>/Inregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLogin</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>com.db.univ.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>checkfilter</display-name>
    <filter-name>checkfilter</filter-name>
    <filter-class>com.db.univ.checkfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>checkfilter</filter-name>
    <url-pattern>/about.jsp</url-pattern>
    <url-pattern>/news.jsp</url-pattern>
    <url-pattern>/aboutmore.jsp</url-pattern>
    <url-pattern>/news.jsp</url-pattern>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.univ.DTO.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgotpassword</display-name>
    <servlet-name>Forgotpassword</servlet-name>
    <servlet-class>com.univ.DTO.Forgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgotpassword</servlet-name>
    <url-pattern>/Forgotpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordDTO</display-name>
    <servlet-name>ForgotPasswordDTO</servlet-name>
    <servlet-class>com.univ.DTO.ForgotPasswordDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordDTO</servlet-name>
    <url-pattern>/ForgotPasswordDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordDAO</display-name>
    <servlet-name>ForgotPasswordDAO</servlet-name>
    <servlet-class>com.jp.DAO.ForgotPasswordDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordDAO</servlet-name>
    <url-pattern>/ForgotPasswordDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPassword</display-name>
    <servlet-name>NewPassword</servlet-name>
    <servlet-class>com.db.univ.NewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassword</servlet-name>
    <url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appointment</display-name>
    <servlet-name>Appointment</servlet-name>
    <servlet-class>com.db.univ.Appointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appointment</servlet-name>
    <url-pattern>/Appointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.db.univ.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.db.univ.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>